@import url(https://coolors.co/palette/fb6107-f3de2c-7cb518-5c8001-fbb02d);
@import url(https://fonts.google.com/specimen/Playwrite+HR+Lijeva);
@import 'colors.css';

body, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-family: 'Playwrite HR Lijeva', cursive;
}

body{
    background-color: #f5e2c8 ;
    /* background-color: #d4a373 ; */
    position: relative;
    min-height:calc(100vh - 5rem);
    padding-bottom: 5rem !important;
}

/* Navbar Start */

nav {
    background-color: #ffd29d;
    display: flex;
    justify-content: space-between;
}

nav form{
    float: right;
    margin-top: 0.6rem;
    margin-right: 0.75rem;

}

nav a {
    text-decoration: none;
}

.title{
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    top: -8px;
    font-size: 25px;
    color: #fb8500;
}

nav .logo {
    height: 37px;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
}

nav .input{
    /* padding: 0.3rem; */
    font-family: 'Playwrite HR Lijeva', cursive;
    padding: 5px 16px;
}

.input:focus{
    outline: none;
    border: 2px solid #fb5607;
}

@media screen and (max-width:570px) {
    nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav a{
        float: right;
    }

    nav .title {
        top: 10px;
    }

    nav form {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.75rem;
        float: none;
        justify-content: center;
    }
}

/* Navbar End */

.heading{
    text-align: center;
    font-size: 30px;
    margin: 0.75rem ;
}

/* Footer Start */

footer{
    position: absolute;
    background-color: #ffd29d ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    bottom: 0px;
    width: calc(100% - 1.5rem );
}

footer a {
    text-decoration: none;
}

/* Footer End */

/* Back To Top button start */
#back-to-top{
    height: 45px;
    width: 45px;
    background-color: #e62739;
    position: fixed;
    bottom: 55px;
    right: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    display: none;
}

#back-to-top img{
    height: 45px;
    width: 45px;
}

/* Back To Top button End */