.container {
    display: flex;
    flex-direction: row;
    /* align-items: center;  */
    justify-content: space-evenly; 
    margin: 2rem;
}

.col-1{
    padding-left: 2rem;
}

.col-1 img {
    max-width: calc(45vw -5rem);
    padding: 0.75rem;
    border: 2rem solid transparent;
}

.col-2{
    /* width: 45vh; */
    margin: 2rem;
    float: right;
}

.col-2 .description::first-letter {
    text-transform: capitalize;
}

.color-box {
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
    border: 0.75rem solid var(--light-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.button {
    background-color: var(--light-brown);
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--orange);
    padding: 1rem;
    font-weight: 600;
    font-size: 15px;
}

.button:hover {
    background-color: var(--orange);
    color: aliceblue;
    
}
